body {
    max-width: 100%;
    overflow-x: hidden;
}

.board-content {
    padding: 20px;
    width: 100%;
    overflow-x: scroll;
}

.board-content-column {
    width: max-content;
}

.board-column {
    width: 300px;
    display: inline-block;
    float: left;
    margin-left: 10px;
    padding: 0 5px 0 5px;
    box-shadow: 1px 1px 1px 1px rgba(9,30,66,.25);
    border-radius: 3px;
    background-color: #ebecf0;
}

.column-drag {
    height: 10px;
    width: 100%;
    background-color: rgb(200,200,200);
}

.board-column-title {
}

.board-ticket {
}

.column-title > h2 {
    display: inline-block;
    width: 90%;
    font-size: 14px;
    font-weight: 400;
}

.column-title > div {
    display: inline-block;
    width: max-content;
    position: relative;
}

.column-title .popup {
    top: 20px;
    left: 250px;
    font-size: 14px;
    width: 200px;
}
