.section-confidentialité {
	block-size:576.875px;
	font-family:jaf-facitweb, "Helvetica Neue", Arial, sans-serif;
	font-size:20px;
	font-stretch:100%;
	font-weight:300;
	height:576.875px;
	margin: 0 auto;
	padding-block-start:60px;
	padding-bottom:0px;
	padding-inline-end:20px;
	padding-inline-start:20px;
	padding-left:20px;
	padding-right:20px;
	padding-top:60px;
	perspective-origin:392.5px 318.438px;
	pointer-events:auto;
	position:relative;
	stroke-width:1px;
	tab-size:8;
	text-align:left;
	transform-origin:392.5px 318.438px;
	width:80%;
}
