/* HEADER style */

header {
    position: relative;
    z-index: 999;
    background-color: #026aa7;
    height: 40px;
}

#header-in, .header-left, .header-center, .header-right, .right {
    height: 100%;
}

header a {
    text-decoration: none;
    color: unset;
}

#header-in {
    padding-right: 10px;
}

.header-left, .header-center, .header-right {
    position: relative;
    display: inline-block;
}

.header-left {
    width: 40%;
    float: left;
}

.header-center {
    width: 20%;
    float: left;
}

.header-right {
    width: 40%;
}

.header-left .header-button-cell {
    float: left;
}

.header-center .header-cell {
    margin-left: auto;
    margin-right: auto;
}

.header-right .header-button-cell {
    float: right;
}

.header-left .header-button-cell, .header-right .header-button-cell {
    display: inline-block;
}

.header-button-cell, #header-search-bar {
    color: #fff !important;
}

#header-board-search-bar {
    width: 100%;
}

.header-button-cell {
    height: 32px;
    min-width: 32px;
    margin-left: 7px;
    font-size: 20px;
    border-radius: 3px;
    border: 0;
    background-color: hsla(0,0%,100%,.3);
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.header-cell {
    width: max-content;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.header-logo {
    max-height: 25px;
}

.header-elem-case {
    padding: 2px 4px;
    margin: 4px 0px;
    width: 70%;
    overflow: hidden;
}

.header-elem-case:not(:hover) {
    padding: 3px;
}

.header-elem-case:hover {
    border: white 1px solid;
    border-radius: 3px;
    background-color: white;
}

.popup-create-board {
    cursor: pointer;
}
