.section-help {
	block-size:576.875px;
	font-family:jaf-facitweb, "Helvetica Neue", Arial, sans-serif;
	font-size:20px;
	font-stretch:100%;
	font-weight:300;
	height:576.875px;
	margin: 0 auto;
	padding-block-start:60px;
	padding-bottom:0px;
	padding-inline-end:20px;
	padding-inline-start:20px;
	padding-left:20px;
	padding-right:20px;
	padding-top:60px;
	perspective-origin:392.5px 318.438px;
	pointer-events:auto;
	position:relative;
	stroke-width:1px;
	tab-size:8;
	text-align:center;
	transform-origin:392.5px 318.438px;
	width:80%;
}

.popArticles {
	float: left;
    text-align: center;
    list-style-type: none;
    margin: 0;
    width: 45%;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    line-height: 35px;
}

.sep {
	clear: both;
    overflow: hidden;
    border-top: 0;
    border-bottom: 0;
    margin: 1em 1% 3em;
}

.sep:after {
    content: "...........................................................................................................................................................................................................................................................";
    height: 15px;
    letter-spacing: 2px;
    font-size: 20px;
    color: #333;
}

.main-content {
    margin-bottom: 2em;
    padding: 50px 0 0 28px;
    margin: 0% 0% 0% 25%;
    width: 50%;
    display: block;
    box-sizing: border-box;
}

.contentWrapper {
	background: #fff;
    border: 1px solid #e9e5e5;
    color: #222;
    min-height: 460px;
    padding: 45px 46px;
    position: relative;
    display: block;
}