/* INDEX style */

.page {
    margin: auto;
    width: 70%;
    display: grid;
    grid-template-columns: auto auto auto;
}
.selected {
    color: cyan;
}

.menu-left {
    font: bold 15px Arial, sans-serif;
    margin-right: 1vw;
    width: auto;
    display: inline-block;
}

.content {
    margin-left: 1vw;
    width: 50%;
    display: inline-block;
}