.board-menu-container {
	display: block;
    flex-direction: row;
    box-shadow: 0 12px 24px -6px rgba(9,30,66,.25), 0 0 0 1px rgba(9,30,66,.08);
    transform: translateX(0);
    bottom: 0;
    position: absolute;
    right: 0;
    top: 40;
    transition-property: transform,width;
    transition-duration: .1s;
    transition-timing-function: ease-in;
    width: 339px;
    height: 2000px;
}

.board-menu-container-title {
	line-height: 20px;
    margin: 14px 32px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    transition: margin .12s ease-in;
    white-space: nowrap;
    flex: 1;
    font-size: 16px;
    font-weight: 600;
}

.board-menu-container-hr {
	background-color: rgba(9,30,66,.13);
    border: 0;
    height: 1px;
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    box-sizing: content-box;
}

.board-menu-navigation {
    list-style: none;
    display: list-item;
    text-align: -webkit-match-parent;
}

.board-menu-navigation-item {
    cursor: pointer;
    display: list-item;
    text-align: -webkit-match-parent;
}

.board-menu-navigation-item-link {
    border-radius: 3px;
    display: block;
    font-weight: 600;
    line-height: 20px;
    text-decoration: none;
    padding: 5px 5px 5px 5px;
    position: relative;
    color: #172b4d;
    background-color: transparent
}

.board-menu-navigation-item-link-plus {
    border-radius: 3px;
    display: block;
    font-weight: 600;
    line-height: 20px;
    text-decoration: none;
    padding: 5px 5px 5px 5px;
    position: relative;
    color: #172b4d;
    background-color: transparent
}

.board-menu-item-description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #5e6c84;
    font-weight: 400;
    line-height: 20px;
}
/*
.board-menu-content-plus {
    display: none;
    height: 0px;
}
*/
a + div {
    display: none;
    height: 0px;
}

a:focus + div {
    display: block;
    height: auto;
}

a:focus {
    pointer-events: none;
}

a:after {
    content: show;
}

a:focus:after {
    content: hide;
}

a + div {
    display:block;
    font-size:0;
    overflow:hidden;
    transition:0.5s;
}

a:focus + div {
    font-size:1rem;;
}

#btnControl {
    display: none;
}

#btnControl:checked > div {
    display: block;
    height: auto;
    content: show;
    font-size:0;
    overflow:hidden;
    transition:0.5s;
    font-size:1rem;;
}

.square-background-color {
    background-size: cover;
    border-radius: 8px;
    height: 96px;
    margin-bottom: 8px;
    margin-right: 8px;
    width: 40%;
    display: inline-block;
    border: 1px solid black;
}

#carré {
    border-radius: 4px;
    color: #fff;
    overflow: hidden;
    position: relative;
    height: 30px;
    width: 30px;
    margin-right: 8px;
    display: inline-block;
    border: 1px solid black;
}

.square-label {
    padding: auto;
    line-height: 30px;
    position: relative;
    display: inline-block;
    padding-top: : 0px;
    margin-top: : 0px;
}

/*
ul {
  font-size: 30px;
  box-shadow: 0 0 0 2px, 0 0 0 4px gray;
  float: left;
  background: brown;
  text-align: center;
}

ul ul {
  box-shadow: 0 0 0 2px;
  background: tomato;
  float:none;;
  position:relative;
}

ul,
li,
a {
  display: block;
  margin: 0;
  padding: 0;
  color: white;
  text-decoration: none;
}

li a ~ ul li {
  padding: 0 1em;
  line-height: 0em;
  box-sizing: border-box;
  overflow: hidden;
  transition: 0.5s;
  box-shadow: 0 0 10px black;
}

body>ul>li>a:before {
  content: '+';
  float: right;
  padding: 0 3px;
}

body>ul>li>a:focus:before {
  content: '-';
}

li a:focus ~ ul li {
  line-height: 1.2em;
}

body>ul>li>a:focus {
  pointer-events: none;
}

html {
  height: 100%;
  display: flex;
  align-items: center;
}

body {
  margin: auto;
}
*/


/*
body
  line-height 1.5
  font-family Arial
  color #777
  background-color #333

h1
  text-align center

a
  color DarkOrange

.accordion
.accordion div
  display flex
  flex-direction column

.accordion
  max-width 20em
  margin 0 auto

:root .accordion a
  color #333

.accordion > a
  height 2em
  padding .5em
  line-height 1
  text-decoration none
  background DarkOrange linear-gradient(to top, rgba(0, 0, 0, .2), transparent)

.accordion > a:focus
.accordion > a:hover
.accordion > a:active
  background-color Peru

.accordion > a:focus
  pointer-events none
  cursor pointer // Semble être incompatible avec la règle précédente...

.accordion > a::before
  content '\25b6'
  display inline-block
  position relative
  width -.2em
  margin-left .5em
  margin-right .3em
  transition .3s

.accordion > a:focus::before
  left -.1em
  transform rotate(90deg)

.accordion > a + div
  overflow hidden // En lien avec 'height:0'
  display flex
  //height 0
  max-height 0
  background-color Tan
  transition .3s

.accordion a:focus + div
  //height 100%
  max-height 100%

.accordion > div a
  height 2em
  padding .5em
  line-height 1
  text-decoration none
  color #777
  box-shadow inset 0 0 1px #777

.accordion > div a:last-child
  box-shadow none

.accordion > div a:focus
.accordion > div a:hover
.accordion > div a:active
  background-color Peru
*/

/*
.button {
  display: inline-block;
  position: relative;
  height: 3.5rem;
  width: 3.5rem;
  background-color: rgba(255, 255, 255, .8);
  box-shadow: 1px 1px 5px #ccc;
  padding: 0;
  outline: 0;
  border: 0;
  border-radius: 6px;
  color: #333;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
 }
.button::before,
.button::after {
  content: "";
  position: absolute;
  width: 45%;
  height: 14%;
  background: #333;
  transition: .25s;
  will-change: transform, bottom, left, right;
}
.button::before {
  bottom: 40%;
  left: 16%;
  transform: rotate(45deg);
}
.button::after {
  bottom: 40%;
  right: 16%;
  transform: rotate(-45deg);
}


.button + * {
  max-height: 0;
  overflow: hidden;
  transform-origin: top;
  transition:  .25s;
}
.button:focus + * {
  max-height: 20em;
}
.button:focus {pointer-events:none;}
.button:not(:focus) { pointer-events:auto }
 

.button:focus::before {
   transform: rotate(-45deg) translateZ(0);
 }
.button:focus::after {
   transform: rotate(45deg) translateZ(0);
 }


* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 2rem;
  background: #efefef;
  color: #000;
  font-family: helvetica, arial, sans-serif;
  font-size: 1.4em;
  line-height: 1.5;
}
.truc {
  border-radius: 6px;
  padding: 0 1em;
  background: orange;
  color: #fff;
}
.truc a {
  color: #fff
}
*/

/*
#tabindexe , #inpute {display:inline-block;width:45%;position:relative;margin:1em;vertical-align:top;}
section > h1 {min-height:2.5em;background:white;}
article {text-align:left;}
h1 , label {margin:0;border:solid 1px;background:#abc;padding:0.25em;font-size:1.5em;display:block;}
h1 + div , input + div{max-height:0px;overflow:hidden;transition:max-height 1s;background:#def;box-shadow:inset 0 0 0 1px;padding:0 5px;}
h1:focus{color:red;}
h1:focus + div , input:checked + div {max-height:600px;transition:max-height 1s}
h1:focus + div:before {content:'';display:block;height:2.5em;margin-top:-2.6em;width:100%;position:absolute;}
input[type="radio"] {position:absolute;left:-9999em;}
#inpute article {position:relative;}
label[for="close"] {display:none;position:absolute;}
input:checked ~ label[for="close"] {right:0;top:0;display:block;background:#333;color:#fff;font-weight:bold;}
html {background:#777;overflow-y:scroll;text-align:center;padding-top:3em;}
*/