/* SITE style */

body {
    margin: 0px;
    background-color: #f4f5f7;
    color: black;
}

.left {
    float: left;
}

.right {
    float: right;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.big-text h1 {
    font-size: 26px;
}

.big-text p {
    font-size: 18px;
}

.quiet {
    color: #5e6c84;
}

.popup-container {
    position: relative;
}

.transparent
{
    background: transparent;
    border: none;
}

input[type="text"] {
    cursor: text !important;
}

/************ pop-up ************/

.popup {
    float: left;
    position: absolute;
    left: 0px;
    top: 32px;
    z-index: 1000;
    width: 300px;
    box-shadow: 0 8px 16px -4px rgba(9,30,66,.25),0 0 0 1px rgba(9,30,66,.08);
    border-radius: 3px;
    background-color: #f4f5f7;
    font-size: medium;
    color: #5e6c84;
}

.popup-open-left {
    margin-left: -270px;
}

.popup-large {
    width: 500px;
    top: 22px;
    margin-left: 10px;
}

.popup-hidden {
    display: none;
}

.popup-header {
    width: 100%;
    border-bottom: solid 1px black;
}

.popup-header, .popup-close {
    grid-column: 1;
    grid-row: 1;
}

.popup-title {
    display: inline-block;
    padding-left: 10%;
    width: 80%;
    height: 41px;
    line-height: 41px;
    text-align: center;
}

.popup-title h1 {
    margin: 0px;
    padding: 0px;
    font-size: larger;
}

.popup-close {
    float: right;
    display: inline-block;
    width: 8%;
    height: 41px;
    cursor: pointer;
}

.popup-close-icon {
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.popup-content-list, .popup-content {
    padding: 10px;
}

.popup-content p, .popup-content h2 {
    margin: 0;
}

.popup-content h2 {
    color: #172b4d;
    font-size: larger;
}

.popup-content:hover {
    background-color: rgb(230, 230, 230);
}

.popup-button:hover {
    cursor: pointer;
}

.popup-create-board-content-out {
    float: left;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 10, 10, 0.3);
}

.popup-create-board-content-in {
    margin: 100 auto;
    padding: 5px;
    width: 400px;
    height: 200px;
    box-shadow: 0 8px 16px -4px rgba(9,30,66,.25),0 0 0 1px rgba(9,30,66,.08);
    border-radius: 3px;
    background-color: #f4f5f7;
    font-size: medium;
    color: #5e6c84;
}

/************ error page ************/


.error-page {
    width: max-content;
    margin: 100 auto;
}

.error-page-message {
    width: max-content;
    margin: 30 auto 30 auto;
}

/************ user page ************/

.user {
    width: 800px;
    margin: 50 auto;
}

.user-header {
    text-align: center;
}

.user-img {
    margin: 0 auto;
    height: 150px;
    width: 150px;
    border: black solid 2px;
    border-radius: 50%;
    overflow: hidden;
}

.user-img img {
    height: 100%;
}

.user h1 {
    margin-bottom: 0;
}

.user h2 {
    margin-top: 0;
}