.ticket
{
    background-color: white;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    margin: 1px;
    margin-bottom: 5px;
    width: 95%;
    display: block;
}
.ticket_background
{
    position: absolute;
    z-index: 10;
    background-color: black;
    opacity: 0.4;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
}
.modifier
{
    position: absolute;
    background-color: white;
    z-index: 11;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 60%;
}

header
{
    position: relative;
    z-index: 1;
}

.delete_button
{
    background-color: red;
    color: white !important;
    font-size: 20px;
    border: 1px solid black;
}

.delete_button:hover
{
    cursor: pointer;
}